.modalBackdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal{
    position: fixed;
    top: 5vh;
    left: 5%;
    width: 90%;
    background-color: var(--background-color-dark);
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 99;
    animation: slide-down 300ms ease-out forwards;
    margin: 0 auto;
}

.modal h2 {
  text-align: center;
  padding: 1rem 0;
}

.closeModalBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: var(--background-color-dark);
  border-radius: 8px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.flex{
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
}

  
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}