.formContainer {
    display: flex;
    flex-direction: column;
}

.formInput {
    padding: .5rem;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-light);
    flex-grow: 2;
    color: var(--text-color);
    margin: .5rem 0;
}

.formInput ::placeholder {
   
  }


.formLabel {
    color: var(--text-color);
}

.formError {
    margin: 0;
    color: var(--error-color);
    font-size: .9rem;   
}

.textArea {
    resize: none;
}

.image {
    border-radius: 16px;
    z-index: 1;
}

.submitBtn {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    background-color: var(--primary-dark-color);
    color: var(--text-color);
    box-shadow: none;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: var(--primary-color);
}

.uploadFileLabelContainer {
    border: 1px solid var(--border-color);
    background-color: var(--background-color-light);
    border-radius: 16px;
    color: var(--border-color);
    text-align: center;
    height: 300px;
    width: 300px;
    margin: .5rem auto;
   
    font-size: 1.2rem;  
}

.uploadFileLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: flex-end;
}