.friendListItemContainer {
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.friendListItemContainer:hover {
    background-color: var(--background-color-dark);
}

.profileContainer {
    display: flex;
}

.displayNameContainer {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    max-width: 9rem;
    overflow: hidden;
}


.displayName {
    font-size: .9rem;
}

.displayName:hover {
    text-decoration: underline;
}

.followBtn {
    background-color: var(--background-color-light);
    color: var(--text-color);
    font-size: .9rem;
    display: flex;
    padding: .75rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
}

.followBtn:hover{
    background-color: var(--background-color-hover);
}

.followIcon{
    margin-right: .5rem;
}

.pointer {
    cursor: pointer;
}


@media (min-width: 768px) {
    .displayNameContainer {
        max-width: 15rem;
    }
    .displayName {
        font-size: 1.2rem;
    }

    .followBtn {
        font-size: 1rem;
    }
}