.sideTabContainer{
    background-color: var(--background-color-light);
    /* padding: .5rem; */
    border-radius: 8px;
    max-width: 768px;
    margin: 1rem auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.button{
    background-color: var(--background-color-light);
    color: var(--text-color);
    font-size: 1rem;
    display: flex;
    padding: .75rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.userGroupBtn{
    margin-right: .5rem;
    color: blue;
}

.suggestionsBtn{
    margin-right: .5rem;
    color: green;
}

.button:hover {
    background-color: var(--background-color-dark);
}

.followBtn {
    background-color: var(--background-color-light);
    color: var(--text-color);
    font-size: 1rem;
    display: flex;
    padding: .75rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
}

.followBtn:hover{
    background-color: var(--background-color-dark);
}

.followIcon{
    margin-right: .5rem;
    color: var(--primary-color);
}


/* profile page css */

.profileTabContainer {
    background-color: var(--background-color-light);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-width: 700px;
    margin: 0 auto 1rem auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.bannerPhotoContainer {
    position: relative;
    width: 100%;
    height: 12rem;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 200px;
}

.profilePhotoContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    align-self: center;
    margin-top: -10%;
}

.profilePhoto {
    border-radius: 50%;
}

.profileInfoContainer {
    margin: 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.profileInfoContainer h2 {
    padding-bottom: .5rem   ;
}

.displayNameContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.displayNameContainer h2 {
    overflow: hidden;
    max-width: 22rem;
}



@media (min-width: 768px) {
    .sideTabContainer {
        width: 80%;
        min-width: 768px;
        border-radius: 8px;
    }

    .profileTabContainer {
        width: 80%;
        min-width: 768px;
    }
  }
