.cardContainer {
    background-color: var(--background-color-light);
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    max-width: 700px;
    margin: 1rem auto;
    /* border-radius: 8px; */
    padding: 1rem;
}

.titleBar {
    display: flex;
    justify-content: space-between;
}

.titleBarContent{
    display: flex;
    flex-direction: column;
}

.profilePhoto {
    border-radius: 50%;
}

.timeAgo {
    font-size: .8rem;
    color: gray;
}   

.description {
    padding: 1rem 0;
}

.postTitle {
    padding: .5rem 0;
    font-weight: bold;
}

.postContent {
    font-size: .9rem;
}


.image {
    width: 100%;
}

.displayNameLink {
    font-weight: bold; 
}

.displayNameLink:hover {
    text-decoration: underline; 
}

.commentContainer {

}

.commentHeaderTop {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: .1px solid var(--border-color);
    font-size: .8rem;
}

.commentHeaderBtm {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    font-size: .8rem;
}

.commentBox {
    
}

.iconContainer:hover .commentHeaderIcons {
    color: var(--primary-color)
}


.commentHeaderIcons {
    cursor: pointer;
    color: var(--text-color);
    margin-right: .2rem;
}


.likedPost{
    color: var(--primary-color)
}

.label {
    cursor: pointer;
}


@media (min-width: 768px) {
    .cardContainer {
        width: 80%;
        border: 1px solid var(--border-color);
        border-radius: 8px;
    }
  }