.modalBackdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal{
    position: fixed;
    background-color: var(--background-color-light);
    color: var(--text-color);
    top: 0;
    left:0;
    width: 100vw;
    max-height: 100vh;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    overflow: scroll;
}

.closeModalBtn {
  position: absolute;
  color: var(--text-color);
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: var(--background-color-light);
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 31;
}

.closeModalBtn:hover {
  color: var(--primary-color);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
    .pageContainer {
        width: 60%;
    }

    .modal{
        left: 5%;
        width: 90vw;
    }
}

@media (min-width: 1080px) {
    .modal{
        left: 10%;
        width: 80vw;
    }
}

@media (min-width: 1400px) {
    .modal{
        left: 25%;
        width: 50vw;
    }
}