html {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: .5s;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 1px dotted var(--primary-color);
}

:root {
  --primary-color: #7B73FF;
  --primary-light-color: #9994f7;
  --primary-dark-color: #44408d;
  --background-color: #1F2124;
  --background-color-dark: #131416;
  --background-color-light: #242526;
  --background-color-hover: #353638;
  --text-color: #C9D1D9;
  --error-color: #CF6679;
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--text-color);
  --border-color: #838383;
  --breakpoint-width-medium: 768px;
  --breakpoint-width-large: 1200px;
  --breakpoint-width-small: 360px;
}

.light-theme {
  --primary-color: #7B73FF;
  --primary-light-color: #9994f7;
  --primary-dark-color: var(--primary-light-color);
  --background-color: #F0F2F5;
  --background-color-dark: #D8DADF;
  --background-color-light: #FFFFFF;
  --background-color-hover: var(--background-color);
  --text-color: #272626;
  --border-color: #313030;
  --error-color: #ca5469;
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--text-color);
  --border-color: var(--background-color);
}


.avatar {
  border-radius: 50%;
}

.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  z-index: 1;
}

.hide {
  display: none;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--background-color-dark);
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--background-color-dark);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--primary-dark-color);
}