.pageContainer{
    width: 90%;
    padding: 1rem;
    text-align: center;
    max-width: 800px;
}

.pageContainer h1 {
    margin-bottom: 1.5rem;
}

.googleSignInBtn {
    border-radius: 8px;
    padding: .5rem;
    border: 0;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
}

.registerBtn {
    border-radius: 8px;
    padding: .5rem;
    border: 0;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.registerBtn:hover {
    background-color: var(--primary-dark-color);
}

.forgotPasswordBtn{
    border-radius: 8px;
    padding: .5rem 0;
}

.forgotPasswordBtn:hover {
    text-decoration: underline;
}

.signInFormFooter {
    display: flex;
    justify-content: space-around;
    font-size: .9rem;
    margin-top: 3rem;
}

.centerText {
    text-align: center;
    margin: 2rem 0;
}

.container {
    min-height: 91vh;
}

.loader {
    display: flex;
    justify-content: center;
    align-content: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.loadMoreFeedBtn {
    text-align: center;
    margin: 2rem 0;
    cursor: pointer;
    border-radius: 1rem;
    padding: .5rem 1rem;
    border: 1px solid var(--primary-color);
}

@media (min-width: 768px) {
    .pageContainer {
        width: 60%;
    }
}