.navbar {
    background-color: var(--background-color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky; 
    z-index: 2;
}

.navlinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navMobile {
  justify-content: space-around;
}

.navMobileLinks {
  width: 100%;
  justify-content: space-around;
}

.navlink {
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}


.navlink:hover {
    color: var(--primary-color);
}


.dropdown {
    position: relative;
    display: inline-block;
  }


.dropbtn:hover, .dropbtn:focus {
    color: var(--primary-color);
  }

.dropdownContent {
    position: absolute;
    right: 0;
    left: auto;
    background-color: var(--background-color-dark);
    opacity: 0.9;
    min-width: 10rem;
  }

.dropdownContent a {
    display: flex;
    padding: 1rem .25rem;
    cursor: pointer;
    transition: .5s;
  }


.dropdownContent a:hover {
      background-color: var(--background-color-light);
}

.icons {
  width: 2rem;
  margin-right: .5rem;
  font-size: 16px;
}

.notificationDropDown {
  position: absolute;
  max-height: 20rem;
  overflow:auto;
  min-width: 20rem;
  right: -100%;
  left: auto;
  background-color: var(--background-color-dark);
  opacity: 0.9;
}

.notifBadge {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--primary-dark-color) !important;
  color: var(--text-color) !important;
  top: .5rem;
  right: .2rem;
  text-align: center;
}

.noNotifMessage {
  text-align: center;
  padding: 1rem;
}

.button{
  color: var(--text-color);
  margin-top: .5rem;
  font-size: 1rem;
  padding: .75rem;
  border: none;
  cursor: pointer;
  width: 8rem;
  text-align: center;
  transition: .5s;
}

.button:hover{
  background-color: var(--background-color-light);
}

.show {display:block;}

.profileLink {
      height: 100%;
      max-width: 20rem;
      display: flex;
      border-radius: 1rem;
      padding: .5rem;
      font-size: 1.2rem;
  }

  .profileLink:hover {
  background-color: var(--background-color-light);    
}

.flexCenter {
    display: flex;
    align-items: center;
    margin-left: .5rem;
    overflow: hidden;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

