.navbar {
    background-color: var(--background-color-dark);
    /* border-bottom: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky; 
    
}

.navlinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: flex-end; */
    /* gap: .5rem; */
}

.navMobile {
  justify-content: space-around;
}

.navMobileLinks {
  width: 100%;
  justify-content: space-around;
}

.navlink {
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}


.navlink:hover {
    color: var(--primary-color);
}


.dropdown {
    position: relative;
    display: inline-block;
  }


.dropbtn:hover, .dropbtn:focus {
    color: var(--primary-color);
  }

.dropdownContent {
    position: absolute;
    right: 0;
    left: auto;
    background-color: var(--background-color-dark);
    opacity: 0.9;
    min-width: 10rem;
    z-index: 1;
  }

.dropdownContent a {
    display: block;
    padding: 1rem;
    cursor: pointer;
    transition: .5s;
    
  }

.dropdownContent a:hover {
      background-color: var(--background-color-light);
}

.notificationDropDown {
  position: absolute;
  max-height: 20rem;
  overflow:auto;
  min-width: 20rem;
  right: -100%;
  left: auto;
  background-color: var(--background-color-dark);
  opacity: 0.9;
  z-index: 9999;
}

.noNotifMessage {
  text-align: center;
  padding: 1rem;
}

.button{
  background-color: var(--background-color-light);
  color: var(--text-color);
  font-size: 1rem;
  padding: .75rem;
  border: none;
  cursor: pointer;
  /* border-radius: 8px; */
  width: 8rem;
  text-align: center;
}

.button:hover{
  background-color: var(--background-color-hover);
  /* background-color: green; */
}

.show {display:block;}

.profileLink {
      height: 100%;
      max-width: 10rem;
      display: flex;
      border-radius: 1rem;
      padding: .5rem;
      font-size: 1.2rem;
  }

  .profileLink:hover {
  background-color: var(--background-color-light);    
}

.flexCenter {
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}