.messageBoardContainer {
    width: 100%;
    
    background-color: var(--background-color);
    padding: 1rem;
}

.messageBoardHeader {
    width: 100%;
    background-color: var(--background-color-light);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    height: 5rem;
}

.messagesContent {
    display: flex;
    flex-direction: column;
}

.messageBoardIntroMessage {
    color: var(--border-color);
}

.loadMoreBtn{ 
   text-align: center;
   text-decoration: underline;
   padding: .5rem 0;
   cursor: pointer;
}

.backBtn {
    /* padding: 1rem; */
    font-size: 2rem;
    cursor: pointer;
}

.backBtn:hover {
    color: var(--primary-color);
}

.profileDisplay {
    display: flex;  
}

.flexCenter {
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.newMessage {
    font-size: 2rem;
    cursor: pointer;
}


.newMessage:hover {
    color: var(--primary-color);
}
